@use "../index.scss" as *;
@use "sass:color";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  @include center(flex);
  @include antialias;
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--body-font-family);
  color: var(--text-color);
  line-height: 1.6em;
  background: var(--red) url(../images/bg-intro-mobile.png) 0 0;
  background-size: contain;

  @include mq($desktop-width, up) {
    background: var(--red) url(../images/bg-intro-desktop.png) 0 0;
    background-size: cover;
  }
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}
thead {
  font-weight: bold;
  background: var(--grey300);

  th {
    border-color: var(--grey500);
  }
}

td,
th {
  padding: 0.5rem;
}
/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

.intro {
  padding: 0 1.5rem;

  @include mq($desktop-width, up) {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    width: calc(1110px + 3rem);
  }
}

/* ========================== § FORMS === */
.intro__input-container {
  margin-bottom: 1rem;

  @include mq($desktop-width, up) {
    margin-bottom: 1.2rem;
  }
}

fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input,
button {
  border: 1px solid var(--grayish-blue);
  width: 100%;
  padding: 1.2rem 1.3rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.2s ease-in-out;

  @include mq($desktop-width, up) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

input:focus {
  outline: none;
  border-color: var(--dark-blue);
}

small {
  font-size: 70%;
}

/* ========================== § TYPOGRAPHY === */
.intro__text {
  @include mq($desktop-width, down) {
    text-align: center;
    margin-bottom: 4em;
  }

  @include mq($desktop-width, up) {
    @include center(flex);
    flex-direction: column;
  }
}

.intro__title {
  @include mq($desktop-width, up) {
    margin-top: -2.2rem;
  }
}

.small-text {
  font-size: 70%;
}

.intro__disclaimer {
  max-width: unset;
  display: block;
  width: 100%;
  color: var(--grayish-blue);
  text-align: center;

  a {
    font-weight: bold;
  }
}

.intro__button {
  @include mq($desktop-width, up) {
    margin-bottom: 1rem;
  }
}

/* ========================== § BOX === */
.box {
  border-radius: var(--border-radius);
  padding: 1.5rem;
  box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
}

.box--white {
  @extend .box;
  background: white;
}

.box--blue {
  @extend .box;
  background: var(--blue);
}

.intro__alert {
  text-align: center;
  font-size: 95%;
  @include mq($desktop-width, up) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* ========================== § BUTTON === */
.button {
  letter-spacing: 0.1em;
}
.button--green {
  @extend .button;
  background: var(--green);
  border: 1px solid $dark-green;
  box-shadow: 0 0.3rem 0 $dark-green;
  color: white;
  text-transform: uppercase;

  &:hover {
    background: color.adjust($green, $lightness: 10%);
    box-shadow: 0 0.3rem 0 color.adjust($dark-green, $lightness: 10%);
    border-color: color.adjust($dark-green, $lightness: 10%);
  }
}

/* ========================== § FORM === */
.intro__form {
  padding: 2.4rem;
}

/* ========================== § ERROR STATES === */
input.error,
input:invalid {
  border: 2px solid var(--red);
  color: var(--red);
  background: url(../images/icon-error.svg) center right 2rem no-repeat;
  padding-right: 3.8rem;
}

.error-message {
  display: none;
  color: var(--red);
  font-style: italic;
  text-align: right;
  width: 100%;
}

.error-message.visible {
  display: block;
}
