@use "../index.scss" as *;
@use "sass:color";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: var(--red);
  line-height: 1.6em;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}
thead {
  font-weight: bold;
  background: var(--grey300);

  th {
    border-color: var(--grey500);
  }
}

td,
th {
  padding: 0.5rem;
}
/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type="submit"] {
  cursor: pointer;
}

form {
}

input {
  border: 1px solid var(--grayish-blue);
  width: 100%;
  margin-bottom: 1rem;
  padding: 1.2rem 1.3rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.box {
  border-radius: var(--border-radius);
  padding: 1.5rem;
  box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.box--white {
  @extend .box;
  background: white;
}

.box--blue {
  @extend .box;
  background: var(--blue);
}

.button--green {
  background: var(--green);
  border: 1px solid $dark-green;
  box-shadow: 0 0.3rem 0 $dark-green;
  color: white;
  text-transform: uppercase;

  &:hover {
    background: color.adjust($green, $lightness: 10%);
    box-shadow: 0 0.3rem 0 color.adjust($dark-green, $lightness: 10%);
    border-color: color.adjust($dark-green, $lightness: 10%);
  }
}
