@use "sass:color";
$base-font-size: 16px;
$small-font-size: 16px * 0.9;
$desktop-width: 1150px;
$mobile-width: $desktop-width - 1px;
$green: hsl(154, 59%, 51%);
$red: hsl(0, 100%, 74%);
$dark-green: color.adjust($green, $lightness: -5%);
$light-green: color.adjust($green, $lightness: -5%);
$dark-red: color.adjust($red, $lightness: -28%);

:root {
  // Colors
  --red: #{$red};
  --green: #{$green};
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  --text-color: white;
  --accent-color: var(--red);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);

  // Typography
  --base-font-size: #{$base-font-size};
  --small-font-size: #{$small-font-size};
  --body-font-family: "Poppins", sans-serif;
  --headings-font-family: var(--body-font-family);
  --h1-font-size: 1.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;

  --border-radius: 0.5rem;
}

@media screen and(min-width: $desktop-width) {
  :root {
    --h1-font-size: 3rem;
  }
}
